.result {
    max-width: 800px;
    margin: 10vh auto 0 auto;
}

#show {
    text-align: center;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.keyList {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-right: 20%;
    margin-left: 20%;
}


.key {
    line-height: 90px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
}

#equal {
    background-color: rgb(235, 91, 8);
    color: rgb(255, 255, 255);  
}

#equal:hover {
    background-color: #fcf9f5;
    color: rgb(3, 2, 0);
    transition: 0.5s ease-in-out;
}

.key:hover {
    background-color: #eb9d36;
    color: rgb(3, 2, 0);
    transition: 0.5s ease-in-out;
}

body {
    background-color: rgb(3, 3, 3);
}